* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back {
    width: 100vw;
    height: 100vw;
    background-color: #D5E1EF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    border-radius: 10px;
    width: 320px;
    height: 497px;
    padding: 16px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box1   {
    width: 288px;
    height: 288px;
    border-radius: 10px;
    background-color: #2C7DFA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2   {
    width: 288px;
    height: 129px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
}
.text1 {
    width: 288px;
    height: 56px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}
.text2 {
    margin-top: 15px;
    width: 257px;
    text-align: center;
    font-size: 15px;
    color: #7D889E;
}
